<footer class="footer">
  <div class="footer-row">
    <p>© 2021 DataStax, Inc.</p>
    <div class="footer-social-links">
      <!--<a href="https://twitter.com/pulsario" target="_blank" rel="noopener noreferrer"
        class="footer-social-link">
        <img width="34px" height="34px" src="{{{uiRootPath}}}/img/twitter.svg"/>
      </a>-->
      <!--<a href="https://groups.google.com/a/lists.pulsar.io/g/pulsar-users" target="_blank" rel="noopener noreferrer"
        class="footer-social-link">
        <img width="34px" height="34px" src="{{{uiRootPath}}}/img/groups.svg"/>
      </a>-->
      <!--<a href="https://github.com/pulsar" target="_blank" rel="noopener noreferrer"
        class="footer-social-link">
        <img width="34px" height="34px" src="{{{uiRootPath}}}/img/github.svg"/>
      </a>-->
    </div>
  </div>

  <div class="footer-row">
    <!--<p>Pulsar is an open source project and all source code is distributed under the <a
        href="http://www.apache.org/licenses/LICENSE-2.0.html" target="_blank" rel="noopener noreferrer">Apache v2.0
        license</a></p>-->
  </div>
</footer>
